<main>
  <div class="container1">
    <div class="containerX X1" id="page2">
        <h1 style="
          text-align: center;
          margin-top: 50px;
          text-decoration: underline;
           ">
            Adverse Effect of Marine Pollution
        </h1>
        <div class="p1_2">
            <h2>1. Harmful to marine life</h2>
            <img src="assets/Screenshot 2024-02-11 140514.png" alt="" />
            <p>
                Sea animals are frequent victims of ocean pollution. Oil spills, for
                instance, will ensnare and suffocate marine animals by permeating
                their gills. When the oil gets into seabird feathers,<br />
                they may not be able to fly or feed their young. Animals that aren’t
                killed by crude oil may suffer from cancer and behavioral changes
                and become unable to reproduce.
                <br />
                <br />

                Marine animals also mistake small plastic debris for food or become
                entangled in or strangled by plastic bags and discarded fishing
                nets. Animals most vulnerable to harm from plastic debris in the
                ocean include dolphins, fish, sharks, turtles, seabirds and crabs.
            </p>
        </div>

        <div class="p2_2">
            <h2>2. Depletion of oxygen in seawater</h2>
            <img src="assets/Screenshot 2024-02-11 140800.png" alt="" />
            As excess debris in the ocean slowly degrades over many years, it uses
            oxygen to do so, resulting in less oxygen in the ocean. Low levels of
            oxygen in the ocean lead to the death of ocean animals such as
            penguins, dolphins, whales and sharks.
            <br />

            Excess nitrogen and phosphorus in seawater also cause oxygen
            depletion. When a great deal of oxygen depletion occurs in an area of
            the ocean, it can become a dead zone where very little marine life can
            survive.
        </div>

        <div class="p3_2">
            <h2>3. A threat to human health</h2>
            <img src="assets/Screenshot 2024-02-11 141855.png" alt="" />
            Pollutants in the ocean make their way back to humans. Small organisms
            ingest toxins and are eaten by larger predators, many of which are
            seafood that we eventually eat. When the toxins in contaminated
            animals get deposited in human tissue, it can lead to long-term health
            conditions, cancer and birth defects.
            <br />

            For example, phytoplankton will absorb methylmercury
            (bacteria-converted mercury carried down to the ocean’s surface). This
            makes its way up the food chain when zooplankton eat the
            phytoplankton, then small fish eat the zooplankton, then bigger fish
            eat the smaller fish. By the time you reach a fish the size of a
            swordfish, they can contain a very high mercury load (in fact,
            swordfish contain one of the highest mercury loads).
        </div>
    </div>
</div>
   
   
</main>