<main>
    <div class="cont">
      <h1 style="text-align: center; color: white; padding-top: 40px">
        Explore Marine Life with US
      </h1>
      <div class="container">
        <input type="text" class="search" placeholder="Search" />
        <img
          src="https://static-00.iconduck.com/assets.00/search-icon-255x256-pucec0zs.png"
          alt=""
          class="search_glass"
        />
      </div>
      <div>
    <form action="" method="post" enctype="multipart/form-data">
      <label for="photo">Photo</label>
      <input type="file" name="MLpic" accept="image/*">
      <button>Submit</button>
    </form>
    <img aria-controls="">
  </div>
    </div>
  </main>
