<div class="full">
    <h1>WE ARE</h1>
    <h1>
        <p class="blinking-text">
            ON A MISSION</p>
    </h1>
    <h1>PROTECT LIFE BELOW WATER</h1>
</div>
<div class="container1">
    <div class="left">
        <h2 style="font-size: 50px; text-align:center;">About Us</h2>
        <img src="assets/underwater1.png" alt="fgxdf" class="img">
    </div>
    <div class="right">
        <p> Welcome to Seabots – your go-to spot for underwater wonders! Our mission? Simple: Explore, celebrate, and
            protect the oceans. From sea life marvels to tackling water pollution, we're here to share, learn, and take
            action. Dive into our stories, discover solutions, and join the crew making waves for a cleaner, happier
            underwater world. Let's make a splash together!</p>
    </div>

</div>
<div class="container3">
    <div class="right-1">
        <div class="drawer">
            <div class="blog-heading">Navigating the depths of marine pollution</div>
            <p>Trillions of barely visible pieces of plastic are floating in the world’s oceans, from surface waters to
                the deep seas...
            </p>
            <a href="#" class="read-more">Read More</a>
        </div>

        <div class="drawer">
            <div class="blog-heading">Top 10 NGO's working with us</div>
            <p>Together, let's protect and preserve 'Life Below Water'...</p>
            <a href="#" class="read-more">Read More</a>
        </div>
        <div class="drawer">
            <div class="blog-heading">Explore the world of sustainable fishing</div>
            <p>Sustainable fishing practices aim to balance seafood production with the health of marine ecosystems,
                promoting long-term viability...</p>
            <a href="#" class="read-more">Read More</a>
        </div>
    </div>
    <div class="left1" style="margin-top: 1%;">
        <img src="assets/ocean.png" alt="fnlkd" class="image">
    </div>
</div>
<div class="container2">
    <h1>Our Contributors</h1>
    <div class="contri">
        <div class="contributor">
            <img src="assets/Vishesh.png" alt="contri" class="vishesh">
            <p>Vishesh Singh</p>
        </div>

        <div class="contributor">
            <img src="assets/muskan.png" alt="contri" class="muskan">
            <p>Muskan Agrawal</p>
        </div>

        <div class="contributor">
            <img src="assets/Shrishti.png" alt="contri" class="shrishti">
            <p>Shrishti Dubey</p>
        </div>

        <div class="contributor">
            <img src="assets/san.png" alt="contri" class="sanchita">
            <p>Sanchita Patel</p>
        </div>
    </div>
</div>