<main>
    <div class="container1 cont1">
        <div class="causes">
            <a href="effect">
                <img src="assets/Screenshot 2024-02-11 125852.png" alt="" />
            </a>
        </div>

        <div class="harmful-effect">
            <a href="causes">
                <img src="assets/Screenshot 2024-02-11 130136.png" alt="" />
            </a>
        </div>

        <div class="precautions">
            <a href="prevention">
                <img src="assets/Screenshot 2024-02-11 130254.png" alt="" />
            </a>
        </div>
    </div>
</main>