<main>
   <div class="container1">
    <div class="containerX X1" id="causes1">
        <h1 style="
          text-align: center;
          margin-top: 50px;
          text-decoration: underline;
        ">
            Causes of Marine Pollution
        </h1>
        <div class="p1_1">
            <h1>Runoff:</h1>
            <img src="assets/Screenshot 2024-02-11 133041.png" alt="" />
            <p>
                Runoff occurs when rain or snow carries pollutants from the ground
                to the ocean. For example, after a heavy rainstorm, oil left by
                vehicles washed from the streets unintentionally ‘runoff’ into our
                storm drains and into the ocean. With runoff coming from various
                locations and sources, it’s a significant cause of pollution. As a
                community, we need to reduce the usage of toxic pollutants to lessen
                the environmental impact of runoff. For example, rather than
                spraying weeds with harsh chemicals, using a natural mix of
                household products, like vinegar, could help.
            </p>
        </div>

        <div class="p2_1">
            <h1>Oil spills:</h1>
            <img src="assets/Screenshot 2024-02-11 133257.png" alt="" />
            Crude oil spills are happening too often. A significant contributor of
            releasing harmful oil into our oceans are the ships that transport
            goods from country to country. When crude oil infects the sea, it’s
            challenging to clean up. It can remain in the ocean for years,
            affecting wildlife and the ecosystem as a whole.
        </div>

        <div class="p3_1">
            <h1>Waste:</h1>
            <img src="assets/Screenshot 2024-02-11 133342.png" alt="" />
            The effect of litter and unkept trash is a serious growing problem.
            Litter is considered atmospheric pollution when waste and debris are
            carried by wind to the ocean. Objects such as plastic bags can end up
            in the water, and unfortunately, they don’t decompose. You can help
            reduce this type of pollution by gathering trash you see lying around
            and disposing of it properly.
        </div>

        <div class="p4_1">
            <h1>Fossil fuels:</h1>
            <img src="assets/Screenshot 2024-02-11 133711.png" alt="" />
            Fossil fuels are burned to create energy, but burning fossil fuels
            causes the release of carbon dioxide, which is one of the most
            destructive contributors to climate change. Another downside to
            burning fossil fuels is the residual ash released into the atmosphere.
            When the ash particles are released, they mix with vapor in clouds,
            causing rainwater to be more acidic.
        </div>
    </div>
</div>
</main>
