<main>
    <div class="parent">
      <h1 style="text-align: center; color: white">NGO / ORGANIZATIONS</h1>
      <br />
      <p style="text-align: center; color: white; font-size: larger">
        WORKING FOR THE SAME CAUSE
      </p>
      <div class="ngo-container">
        <a href="https://www.bawat.com/">
          <div class="card">
            <img
              src="https://mb.cision.com/Public/2355/2022225/8e7572b50cc39433_org.png"
              alt=""
              height="40%"
            />
            <p style="font-size: 18px">
              Bawat's goal is to make a significant contribution to support the
              ocean’s environment. Its product protects the eco balance of the
              global oceans by providing sustainable solutions for ships' ballast
              water management .
            </p>
          </div>
        </a>
  
        <a href="https://www.upstream.tech/">
          <div class="card">
            <img
              src="https://mma.prnewswire.com/media/1428127/Upstream_Tech_Logo.jpg?p=facebook"
              alt=""
              height="40%"
            />
            <p style="font-size: 18px">
              Upstream Tech was founded because the founders saw the unserved
              potential for innovation in the conservation and water sector.The
              smart systems they developed enables the conserving of freshwater .
            </p>
          </div>
        </a>
  
        <a href="https://web.shellcatch.com/welcome">
          <div class="card">
            <img
              src="assets/Screenshot 2024-02-04 154709.png"
              alt=""
              height="40%"
            />
            <p style="font-size: 18px">
              Shellcatch’s mission is to improve the lives of millions of
              fishermen, connecting them to a sustainable and productive chain of
              certified ocean products.Using the products allows to obtain data,
              create reports and analyze videos.
            </p>
          </div>
        </a>
  
        <a href="https://ashored.ca/">
          <div class="card">
            <img
              src="assets/Screenshot 2024-02-04 155212.png"
              alt=""
              height="40%"
            />
            <p style="font-size: 18px">
              Ashored developed two products to innovate the commercial fishing
              industry, ‘Rope on-command’ fishing and gear and location tracking.
              The first product helps reduce the risk of species getting tangled
              in fishing nets.
            </p>
          </div>
        </a>
  
        <a href="https://www.xpertsea.com/">
          <div class="card">
            <img
              src="assets/Screenshot 2024-02-04 154506.png"
              alt=""
              height="40%"
              width="100%"
            />
            <p style="font-size: 18px">
              XpertSea developed an AI driven management system that focuses on
              making aquaculture more efficient and sustainable by providing real
              time data. The startup's goal is to defeat the industries biggest
              challenges
            </p>
          </div>
        </a>
  
        <a href="https://seakura.co.il/en/">
          <div class="card">
            <img
              src="https://seakura.co.il/wp-content/uploads/2018/10/logo.png"
              alt=""
              height="40%"
              width="100%"
            />
            <p style="font-size: 18px">
              Seakura, founded 2006 in Israel, saw the potential in sea-sourced
              food which are very nutrient dense. To create a sustainable system,
              Seakura came up with a way to farm land-based seaweed, providing
              healthy food without harming the ocean.
            </p>
          </div>
        </a>
  
        <a href="https://www.sofarocean.com/">
          <div class="card">
            <img
              src="https://www.ecomagazine.com/images/Newsletter/0_2021/Week_12-6-21/sofar_logo.jpg"
              alt=""
              height="40%"
              width="100%"
            />
            <p style="font-size: 18px">
              Sofar is a startup from the US offering ocean technology to enable
              insight into the ocean's ecosystems. Sofar’s system can forecast
              marine weather with up to 50 percent more certainty. Developing the
              technology will give further insight into the ocean
            </p>
          </div>
        </a>
  
        <a href="https://econcretetech.com/">
          <div class="card">
            <img
              src="https://d820a6sl534t.cloudfront.net/uploads/logo/f3d1e2e2-2b9d-4fbb-9922-953cc56618a5/large_ec16a9c6-f5d3-488c-aae2-67dec822e100.png"
              alt=""
              height="40%"
              width="100%"
            />
            <p style="font-size: 18px">
              ECOncrete developed a product .Its products are bio-enhanced
              concrete additives which revolutionize the coastline by replacing
              the normally grey waterfront and coastline with blue-green
              infrastructure, which helps the ecosystem to grow and flourish.
            </p>
          </div>
        </a>
  
        <a href="https://biofishency.com/">
          <div class="card">
            <img
              src="assets/Screenshot 2024-02-04 153628.png"
              alt=""
              height="40%"
              width="100%"
            />
            <p style="font-size: 18px">
              BioFishency offers sustainable solutions to the aquaculture
              industry, increasing productivity through innovative technology.
              Benefits of BioFishency’s biofilter, growing apparatus and
              professional services, are the cost efficiency and decrease in
              resources being used.
            </p>
          </div>
        </a>
  
        <a href="https://umitron.com/en/index.html">
          <div class="card">
            <img
              src="assets/Screenshot 2024-02-04 154939.png"
              alt=""
              height="40%"
            />
            <p style="font-size: 18px">
              Umitron’s vision is to revolutionize agriculture to improve food
              security and safety by finding solutions for fish farming in a human
              and nature friendly way. By implementing IoT, it’s AI driven
              platform and remote satellite sensing
            </p>
          </div>
        </a>
  
        <a href="https://efishery.com/id/">
          <div class="card">
            <img
              src="assets/Screenshot 2024-02-04 155117.png"
              alt=""
              height="40%"
              width="100%"
            />
            <p style="font-size: 18px">
              EFishery developed an automated fish feeder that collects data to
              make work in aquaculture more precise and effective. the efishery
              friend program was implemented to help connect the company to
              farmers and agents
            </p>
          </div>
        </a>
  
        <a href="https://theoceancleanup.com/">
          <div class="card">
            <img
              src="https://findvectorlogo.com/wp-content/uploads/2020/05/the-ocean-cleanup-vector-logo.png"
              alt=""
              height="40%"
            />
            <p style="font-size: 18px">
              As their name suggests, The Ocean Cleanup works on cleaning the
              ocean to help reduce the amount of plastic pollution. Its advanced
              technologies also apply to rivers, aiming to tackle 1000 rivers
              worldwide.
            </p>
          </div>
        </a>
      </div>
    </div>
  </main>
