<div class="full">
    <div class="main">
        <div class="new">
        <h1>WELCOME TO SEABOTS</h1>
        <p>Dive into Tomorrow with Us...</p>
        </div>
        <div class="content">
            <ul>
                <li>Deep Insights</li>
                <li>Sustainable fishing</li>
                <li>Nurturing Life Below Water for a Sustainable Tomorrow</li>
            </ul>
        </div>

    </div>
    <div class="picture">
        <img src="assets/coral.png" alt="dsdfghj">
    </div>
</div>