
h1 {
  font-weight: bolder;
  font-size: 2.5vw; /* Use viewport width for font size */
  margin-top: 5%;
}

.full {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh; /* Use minimum height instead of fixed height */
  background-color: #0b1f3d;
  color: white;
}

.main {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0 5vw; 
  margin-bottom: 5vw; 
  font-size: 2vw; 
}

.picture {
  max-width: 30%; /* Adjust the width of the picture */
  height: auto;
  margin-right: 5vw; /* Add margin for spacing */
}

.content {
  flex: 1;
  font-size: 2vw;
  padding: 1vw; 
  margin-left: 20%;
}

.content li {
  padding-top: 1vw; 
  line-height: 110%;
}

img {
  max-width: 100%; 
  height: auto;
}


@media (max-width: 768px) {
  .main {
    flex-direction: column; 
    align-items: flex-start;
  }

  .picture {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 2vw; 
  }

  p,
  .content,
  .content li {
    font-size: 4vw; 
    padding: 2vw; 
    
  }
}